
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom-title">Mercedes-Benz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="custom-title">Mercedes-Benz</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img src="./assets/img/mercedes2.png" alt="Eladio Carrion"></ion-img>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-title class="custom-title">Historia</ion-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      Mercedes-Benz tiene una larga historia que se remonta a la invención del automóvil en 1886 por Karl Benz. La marca Mercedes-Benz tal como se conoce hoy en día se formó en 1926 cuando Benz & Cie. y Daimler-Motoren-Gesellschaft (DMG) se fusionaron.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-title class="custom-title">Modelos más destacables</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Mercedes Clase G</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mercedes CLS W219</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mercedes 500E</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mercedes SL R129</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mercedes McLaren SLR</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>