<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tesla
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-img src="./assets/img/tesla2.jpg" alt="Tesla Roadster" style="max-width: 800px; height: auto; padding-left: 30%;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h2>Información sobre Tesla:</h2>
        <p>JTesla, Inc. es una empresa estadounidense de automóviles eléctricos y energía con sede en Palo Alto, California. Fundada en 2003 por Martin Eberhard y Marc Tarpenning, Tesla es conocida por su enfoque en la fabricación de vehículos eléctricos de alto rendimiento, así como por su participación en la industria de la energía renovable.</p>
      </ion-col>
      <ion-col size="6">
        <h2>Modelos mas destacables:</h2>
        <ion-list>
          <ion-item>
            <ion-label>Tesla Model Y</ion-label>
            <ion-note slot="end">2019</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Tesla Model 3</ion-label>
            <ion-note slot="end">2018</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Tesla Model S</ion-label>
            <ion-note slot="end">2012</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Tesla Model X</ion-label>
            <ion-note slot="end">2015</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
<!-- 
  <app-explore-container name="Melendi Page"></app-explore-container> -->
</ion-content>